* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  margin: 0 auto;
}
.header .header__container {
  width: 100%;
  margin: 0 auto;
}
.header .header__container .container__top {
  width: 100%;
  height: 32px;
  background: #ebedef;
}
.header .header__container .container__top .container__top_text {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
}
.header .header__container .container__top .container__top_text .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .header__container .container__top .container__top_text .left .locate {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .header__container .container__top .container__top_text .left .locate p {
  color: gray;
  font-weight: 400;
  font-size: 14px;
}
.header .header__container .container__top .container__top_text .left .locate p span {
  font-weight: 400;
  color: black;
  font-size: 14px;
}
.header .header__container .container__top .container__top_text .left p {
  font-size: 14px;
}
.header .header__container .container__top .container__top_text .midle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  height: 100%;
}
.header .header__container .container__top .container__top_text .midle p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(167, 165, 165);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.header .header__container .container__top .container__top_text .right {
  width: 28%;
  height: 100%;
}
.header .header__container .container__top .container__top_text .right ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header .header__container .container__top .container__top_text .right ul li {
  display: flex;
  align-items: center;
}
.header .header__container .container__top .container__top_text .right ul li .ui-icon {
  border-radius: 50%;
  margin-right: 6px;
}
.header .header__container .container__top .container__top_text .right ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(108, 107, 107);
  font-weight: 500;
}
.header .header__container .container__top .container__top_text .right ul li a img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.header .header__container .container__midle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 70px;
  margin: 0 auto;
}
.header .header__container .container__midle .logo__wrapper {
  margin-right: 32px;
}
.header .header__container .container__midle .logo__wrapper .logo {
  height: 32px;
  width: 215px;
}
.header .header__container .container__midle .catalog {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 55%;
}
.header .header__container .container__midle .catalog .katalog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(241, 236, 251);
}
.header .header__container .container__midle .catalog p {
  color: blueviolet;
  padding: 0 14px 0 0;
}
.header .header__container .container__midle .catalog .katalog:hover {
  background-color: rgb(232, 222, 253);
}
.header .header__container .container__midle .catalog .search {
  display: flex;
  align-items: center;
  width: 480px;
  height: 40px;
  border: 1px solid;
  border-radius: 0 4px 4px 0;
  position: relative;
  border: 1px solid rgba(54, 54, 64, 0.2);
}
.header .header__container .container__midle .catalog .search input {
  height: 99%;
  width: 420px;
  padding: 0 0 0 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.header .header__container .container__midle .catalog .search .btn_search {
  width: 79px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 236, 236);
  border-radius: 0 8px 8px 0;
}
.header .header__container .container__midle .catalog .search .btn_search i {
  color: gray;
}
.header .header__container .container__midle .catalog .search .results-wrapper {
  z-index: 11;
  padding: 8px 0 12px;
  position: absolute;
  top: 100%;
  width: 100%;
  border: 1px solid rgba(54, 54, 64, 0.2);
  box-shadow: 0 4px 4px rgba(54, 54, 64, 0.25);
  background-color: white;
}
.header .header__container .container__midle .catalog .search .results-wrapper .results-list .result-item {
  padding: 12px 51px 12px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .header__container .container__midle .catalog .search .results-wrapper .results-list .result-item:hover {
  background-color: #e9ebf0;
}
.header .header__container .container__midle .catalog .search .results-wrapper .results-list .result-item .icon-left {
  fill: #7e818c;
  height: 20px;
  margin: 0;
  width: 20px;
}
.header .header__container .container__midle .catalog .search .results-wrapper .results-list .result-item .suggest {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4em;
}
.header .header__container .container__midle .icons {
  width: 25%;
  height: 100%;
}
.header .header__container .container__midle .icons ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__container .container__midle .icons ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header .header__container .container__midle .icons ul li a {
  font-size: 16px;
  color: black;
}
.header .header__container .container__midle .icons ul li i {
  font-size: 18px;
  padding: 0 10px 0 0;
  color: black;
}
.header .header__container .container__midle .icons ul .savat {
  display: flex;
  align-items: center;
}
.header .header__container .container__midle .icons ul .savat .savat__link {
  display: flex;
  align-items: center;
}
.header .header__container .container__midle .icons ul .savat .icon-cart {
  margin-right: 9px;
}
.header .header__container .container__midle .icons ul .savat .products-in-cart-count {
  display: block;
  border-radius: 2px;
  font-size: 0.75rem;
  margin-left: 4px;
  padding: 4px 6px;
  background-color: #7000ff;
  color: white;
}
.header .header__container .container__midle .icons ul .savat .noProduct {
  display: none !important;
}
.header .header__container .container__bottom {
  width: 1240px;
  height: 40px;
  margin: 0 auto;
}
.header .header__container .container__bottom ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__container .container__bottom ul li {
  display: flex;
  align-items: center;
}
.header .header__container .container__bottom ul li img {
  width: 25px;
  height: 25%;
  margin: 0 3px 0 0;
}
.header .header__container .container__bottom ul li a {
  font-size: 14px;
  color: gray;
}
.header .header__container .container__bottom ul li :nth-child(2) {
  color: black;
  font-weight: 500;
}
.header .header__container .container__bottom ul li option {
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

.off-screen-menu {
  z-index: 11;
  background-color: rgb(34, 37, 49);
  height: 100vh;
  width: 100%;
  max-width: 1550px;
  position: fixed;
  top: 0;
  right: -1550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}
.off-screen-menu ul li {
  color: white;
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}
.off-screen-menu ul li:hover {
  color: aqua;
}

.off-screen-menu.active {
  right: 0;
}

.ham-menu {
  z-index: 99;
  height: 20px;
  width: 50px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 3px;
  width: 20px;
  background-color: blueviolet;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 40%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 25%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.footer_container {
  margin: 0 auto;
  width: 1240px;
}
.footer_container .footer_container_cards {
  margin-top: 100px;
  display: flex;
  margin-bottom: 56px;
}
.footer_container .footer_container_cards .footer_container_cards_card {
  margin-right: 150px;
}
.footer_container .footer_container_cards .footer_container_cards_card .footer_container_cards_card_title {
  font-weight: 700;
  margin-bottom: 18px;
  font-family: roboto;
}
.footer_container .footer_container_cards .footer_container_cards_card .footer_container_cards_card_title:hover {
  cursor: pointer;
}
.footer_container .footer_container_cards .footer_container_cards_card .footer_container_cards_card_text {
  margin-bottom: 18px;
  font-family: roboto;
  color: rgb(136, 135, 135);
  font-size: 13px;
}
.footer_container .footer_container_cards .footer_container_cards_card .footer_container_cards_card_text:hover {
  cursor: pointer;
}

.ui-icon-facebook {
  background: rgb(0, 0, 36);
}

.download {
  display: flex;
  align-items: center;
  gap: 5px;
}

.download:hover {
  cursor: pointer;
}

.download_text {
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.aaa {
  margin-bottom: 20px;
  margin-top: 50px;
}

.flex_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex_icon {
  width: 30px;
  margin-right: 15px;
  margin-bottom: 100px;
}

.flex_icon:hover {
  cursor: pointer;
}

.end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.end_text {
  font-family: roboto;
  font-weight: 700;
  font-size: 15px;
}

.end_text:hover {
  cursor: pointer;
}

.bbb {
  font-family: roboto;
  font-weight: 500;
  font-size: 12px;
  color: gray;
}

.main-content {
  margin-top: 20px;
  padding: 0 0 20px;
}
.main-content .ui-wrapper {
  max-width: 1240px;
  min-width: 320px;
  width: 95%;
  margin: 0 auto;
}
.main-content .ui-wrapper .noItem_wrapper {
  align-items: center;
  color: #1f2026;
  display: flex;
  flex-direction: column;
  margin: 80px 0 70px;
  width: 100%;
}
.main-content .ui-wrapper .noItem_wrapper .noItempic {
  height: 128px;
  width: 128px;
}
.main-content .ui-wrapper .noItem_wrapper .title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 24px;
}
.main-content .ui-wrapper .noItem_wrapper .info {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4em;
  margin-top: 16px;
}
.main-content .ui-wrapper .noItem_wrapper .actionbtn {
  background-color: #7000ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  height: 38px;
  margin-top: 16px;
  padding: 7px 14px;
  text-decoration: none;
}
.main-content .ui-wrapper .ui-wrapper-header {
  width: 100%;
  border-bottom: 1px solid rgba(54, 54, 64, 0.2);
  padding-bottom: 2px;
}
.main-content .ui-wrapper .ui-wrapper-header h1 {
  color: #1f2026;
  font-size: 1.5rem;
  line-height: 1;
}
.main-content .ui-wrapper .products {
  grid-row-gap: 32px;
  grid-column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 40px;
  margin-top: 40px;
}
.main-content .ui-wrapper .products .ui-card {
  height: 100%;
  padding: 0;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  transition: box-shadow 0.3s ease;
}
.main-content .ui-wrapper .products .ui-card:hover {
  box-shadow: 0 10px 25px -16px rgba(54, 54, 64, 0.25);
}
.main-content .ui-wrapper .products .ui-card .product-card-image {
  border-radius: 8px;
  position: relative;
  transform: translateZ(0);
  transition: all 0.35s;
}
.main-content .ui-wrapper .products .ui-card .product-card-image .preview-wrapper {
  height: 100%;
  width: 100%;
}
.main-content .ui-wrapper .products .ui-card .product-card-image .preview-wrapper a {
  text-decoration: none;
}
.main-content .ui-wrapper .products .ui-card .product-card-image .preview-wrapper a img {
  transition: all 0.25s;
  border-radius: 8px;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 0;
  max-width: 232px;
}
.main-content .ui-wrapper .products .ui-card .product-card-image .badge-container {
  bottom: 1%;
  left: 1%;
  max-height: 46px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.main-content .ui-wrapper .products .ui-card .product-card-image .badge-container .badge-list {
  display: flex;
  flex-wrap: wrap;
}
.main-content .ui-wrapper .products .ui-card .product-card-image .badge-container .badge-list .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(59, 0, 125);
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  height: 21px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0 6px;
}
.main-content .ui-wrapper .products .ui-card .product-card-image .badge-container .badge-list .badge .text {
  color: white;
  font-size: 13px;
  font-weight: 500;
}
.main-content .ui-wrapper .products .ui-card .product-card-image .product-card-like {
  border: none;
  border-radius: 2px;
  height: 24px;
  margin-right: -3px;
  padding: 2px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 6%;
  transition: opacity 0.3s ease;
  width: 24px;
  z-index: 100;
}
.main-content .ui-wrapper .products .ui-card .card-info-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 147px;
  padding: 12px 8px 8px;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .subtitle {
  font-size: 12.8px;
  line-height: 15.36px;
  max-height: 43px;
  height: 100%;
  font-weight: 400;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .subtitle a {
  color: #1f2026;
  text-decoration: none;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-secondary-info {
  display: flex;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-secondary-info .product-card-rating {
  align-items: center;
  color: #8b8e99;
  display: flex;
  flex-grow: 1;
  font-size: 11.2px;
  font-weight: 300;
  gap: 2px;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .badge-container {
  margin: 6px 2px 2px 0;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .badge-container .badge-list {
  display: flex;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .badge-container .badge-list .text {
  background: rgb(255, 255, 0);
  height: 17px;
  padding: 0 5px;
  margin-right: 2px;
  margin-top: 2px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .badge-container .badge-list .text span {
  color: rgb(31, 31, 38);
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-main-info-wrapper {
  height: 34px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-main-info-wrapper .product-card-price-info {
  display: flex;
  flex-direction: column;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-main-info-wrapper .product-card-price-info .product-card-old-price {
  height: 12px;
  line-height: 120%;
  color: #8b8e99;
  font-size: 0.7rem;
  font-weight: 400;
  text-decoration: line-through;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-main-info-wrapper .product-card-price-info .product-card-price {
  height: 15px;
  line-height: 120%;
  margin-top: 2px;
  color: #1f2026;
  font-size: 0.875rem;
  font-weight: 500;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-main-info-wrapper .add-to-cart {
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  height: 32px;
  padding: 3.5px;
  width: 32px;
  background-color: transparent;
  color: #1f2026;
  box-shadow: 0 0 0 1px rgba(54, 54, 64, 0.2) inset;
  transition: all 0.2s;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-main-info-wrapper .add-to-cart:hover {
  background-color: #e6e8ed;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-main-info-wrapper .add-to-cart .slot-default {
  width: 24px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  height: 100%;
  cursor: pointer;
}
.main-content .ui-wrapper .products .ui-card .card-info-block .product-card-main-info-wrapper .add-to-cart .slot-default .add-cart-icon {
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}/*# sourceMappingURL=likes.css.map */