.extendable-offer-wrapper {
  margin: 0 auto;
  max-width: 1240px;
  padding: 48px 0 32px;
  width: 95%;
  .extendable-offer {
    .title {
      color: $text-primary;
      align-items: center;
      cursor: pointer;
      display: flex;
      margin-bottom: 21px;
      text-decoration: none;
      width: max-content;
      .title-text {
        color: $text-primary;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        margin-top: 0;
      }
      .more {
        align-items: center;
        display: flex;
        margin-left: 4px;

        top: 3px;
        .title-icon {
          margin: 0;
          transform: translateY(-0.5px);
          transition: transform 0.2s ease;
        }
      }
    }
    .products {
      grid-row-gap: 32px;
      grid-column-gap: 20px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-bottom: 40px;
      .item__product-card {
        backface-visibility: hidden;
        border-radius: 8px;
        cursor: pointer;
        display: block;
        height: 100%;
        opacity: 1;
        overflow: hidden;
        position: relative;
        transition: all 0.25s;
        width: 100%;
        &:hover {
          box-shadow: 0 10px 25px -16px $border-strong;
        }
        .ui-card {
          height: 100%;
          padding: 0;
          background-color: #fff;
          border: 0;
          border-radius: 2px;
          transition: box-shadow 0.3s ease;
          .product-card-image {
            border-radius: 8px;
            position: relative;
            transform: translateZ(0);
            transition: all 0.35s;

            .preview-wrapper {
              height: 100%;
              width: 100%;
              a {
                text-decoration: none;
                img {
                  transition: all 0.25s;
                  border-radius: 8px;
                  height: 100%;
                  left: 0;
                  object-fit: cover;
                  object-position: center;
                  top: 0;
                  max-width: 232px;
                }
              }
            }
            .badge-container {
              bottom: 1%;
              left: 1%;
              max-height: 46px;
              overflow: hidden;
              position: absolute;
              z-index: 1;
              .badge-list {
                display: flex;
                flex-wrap: wrap;
                .badge {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: rgb(59, 0, 125);
                  border-radius: 4px;
                  font-size: 13px;
                  font-weight: 500;
                  height: 21px;
                  margin-right: 2px;
                  margin-top: 2px;
                  padding: 0 6px;
                  .text {
                    color: white;
                    font-size: 13px;
                    font-weight: 500;
                  }
                }
              }
            }
            .product-card-like {
              cursor: pointer;
              border: none;
              border-radius: 2px;
              height: 24px;
              margin-right: -3px;
              padding: 2px;
              position: absolute;
              right: 12px;
              text-align: center;
              top: 6%;
              transition: opacity 0.3s ease;
              width: 24px;
              z-index: 100;
            }
          }
          .card-info-block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 147px;
            padding: 12px 8px 8px;
            .subtitle {
              font-size: 12.8px;
              line-height: 15.36px;
              max-height: 43px;
              height: 100%;
              font-weight: 400;
              a {
                color: $text-primary;
                text-decoration: none;
              }
            }
            .product-card-secondary-info {
              display: flex;
              .product-card-rating {
                align-items: center;
                color: $text-tertiary;
                display: flex;
                flex-grow: 1;
                font-size: 11.2px;
                font-weight: 300;
                gap: 2px;
              }
            }
            .badge-container {
              margin: 6px 2px 2px 0;
              .badge-list {
                display: flex;
                .text {
                  background: rgb(255, 255, 0);
                  height: 17px;
                  padding: 0 5px;
                  margin-right: 2px;
                  margin-top: 2px;
                  border-radius: 4px;
                  font-size: 13px;
                  font-weight: 500;
                  span {
                    color: rgb(31, 31, 38);
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 17px;
                  }
                }
              }
            }
            .product-card-main-info-wrapper {
              height: 34px;
              display: flex;
              justify-content: space-between;
              margin-top: auto;
              .product-card-price-info {
                display: flex;
                flex-direction: column;
                .product-card-old-price {
                  height: 12px;
                  line-height: 120%;
                  color: $text-tertiary;
                  font-size: 0.7rem;
                  font-weight: 400;
                  text-decoration: line-through;
                }
                .product-card-price {
                  height: 15px;
                  line-height: 120%;
                  margin-top: 2px;
                  color: $text-primary;
                  font-size: 0.875rem;
                  font-weight: 500;
                }
              }
              .add-to-cart {
                display: flex;
                align-items: center;
                justify-self: center;
                border-radius: 50%;
                border: none;
                box-sizing: border-box;
                height: 32px;
                padding: 3.5px;
                width: 32px;
                background-color: transparent;
                color: $text-primary;
                box-shadow: 0 0 0 1px $border-regular inset;
                transition: all 0.2s;
                &:hover {
                  background-color: #e6e8ed;
                }
                .slot-default {
                  width: 24px;
                  border-radius: 10px;
                  align-items: center;
                  display: flex;
                  height: 100%;
                  cursor: pointer;
                  .add-cart-icon {
                    height: 24px;
                    width: 24px;
                    box-sizing: border-box;
                    outline: 0;
                    border: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
