$text-tertiary: #8b8e99;
$text-primary: #1f2026;
$border-regular: rgba(54, 54, 64, 0.2);
$border-strong: rgba(54,54,64,.25);
$icon-primary: #1f2026;
$text-positive: #009c38;
$badge-bg-installment: #ff0;
$surface-secondary: #f2f4f7;
$button-primary-accented-rest: #7000ff;
